<div><h3>{{pageHeader}}</h3></div>
<hr/>


    <div class="container-fluid">
      
        <div class="col-md-3">
            
                <select class="form-control" ng-model="advSearchKey" ng-options="item as item.name for item in DBSearchList | orderBy:'name'"
                    options-class="{'placeholder-color':'placeholder', 'control-color':'data'}" >
                            <option value="">- Please Choose -</option>
                    </select>
        </div>
            <div class="col-md-4">
                <div class="input-group">
                <input class="form-control" ng-model="simpleSearchQuery"  type="text" />
                <span class="input-group-addon" ng-click="simpleSearch()">
                    <span >Go</span>
                </span>
                </div>
            </div>

       
        <div class="col-md-4">
              <button type="button" class="btn btn-info btn-md "  ng-click="">Register New</button>
                <button type="button" class="btn btn-info btn-md "  ng-click="">Update</button> 
                <button type="button" class="btn btn-info btn-md "  ng-click="">Delete</button>  </div> 
    </div>

<br>
<br>

 <table ng-table="databaseTable" class="table   table-hover table-condensed">
                    <colgroup>
                        <col width="5%" />
                        <col width="15%" />
                        <col width="10%" />
                        <col width="20%" />
                        <col width="7%" />
                        <col width="10%" />
                       
                    </colgroup>
                    <tr ng-repeat="dbconfigs in databases">
                        <td data-title="'Select'">
                            <input type="radio"  name="optradio" ng-model="$parent.app.dbconfig" ng-value="dbconfigs">
                        </td>
                        <td data-title="'Name'" sortable="'db_name'" >
                            {{dbconfigs.db_name}}
                        </td>
                        <td data-title="'Type'" sortable="'db_type'" >
                            {{dbconfigs.db_type}}
                        </td>
                        <td data-title="'Host'" sortable="'host'" >
                            {{dbconfigs.host}}
                        </td>    
                        <td data-title="'Port'" sortable="'port'" >
                            {{dbconfigs.port}}
                        </td>    
                       <td data-title="'Test'"  >
                             <button type="button" class="btn btn-info btn-sm " ng-click="">Test</button>
                        </td> 
                    </tr>
                </table>