<div ng-show="loader.loading">
    <br>
    <p>Processing application data...<i class="fa fa-spinner fa-spin"></i></p>
    
</div>
<div class="panel panel-default">
<div ng-hide="hidePanel">
    <div class="panel-heading">{{pageHeader}}</div>
    <div class="panel-body">
        <!--<button type="button" class="btn btn-default btn-md" ng-click="activeTab = 1">Next</button>
        <hr/>-->
        <form id="appInfoForm" name="appInfoForm" class="form-horizontal">
        <uib-tabset active="activeTab">
            <uib-tab index="0" heading="App/Integration Service Info">
                <br>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="form-group required">
                                <label class='control-label col-sm-3' for="txtAppName">App / Integration Service Name</label>
                                <div class="col-sm-6">
                                    <input id="txtAppName" required class="form-control" ng-model="app.name"></input>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group required">
                                <label class='control-label col-sm-3'>Description</label>
                                <div class="col-sm-6">
                                    <textarea required class="form-control" ng-model="app.descr"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group required">
                                <label class='control-label col-sm-3' for="selOrg">Organization</label>
                                <div class="col-sm-6">
                                    <select class="form-control" name='selectedOrg' ng-model='app.selectedOrg' ng-options='org for org in stackatoOrg'></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group required">
                                <label class='control-label col-sm-3' for="selSpace">Space</label>
                                <div class="col-sm-6">
                                    <select class="form-control" name='selectedSpace' ng-model='app.selectedSpace' ng-options='space for space in stackatoSpace'></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group required">
                                <label class='control-label col-sm-3' for="selSpace">Expose to Apigee</label>
                                <div class="col-sm-6">
                                    <div class="checkbox checkbox-success">
                                        <input id="checkbox1" type="checkbox" checked ng-model="app.exposeToApigee">
                                        <label  for="checkbox1" style="font-weight: bold;"> </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </uib-tab>
            <uib-tab index="1" heading="DB Connection Info">
                <br>
                <table ng-table="databaseTable" class="table table-bordered table-striped table-hover table-condensed">
                    <colgroup>
                        <col width="5%" />
                        <col width="20%" />
                        <col width="15%" />
                        <col width="20%" />
                        <col width="7%" />
                        <col width="10%" />
                        <col width="10%" />
                        <col width="10%" />
                    </colgroup>
                    <tr ng-repeat="dbconfigs in data">
                        <td data-title="'Select'">
                            <input type="radio"  name="optradio" ng-model="$parent.app.dbconfig" ng-value="dbconfigs">
                        </td>
                        <td data-title="'Name'" sortable="'db_name'" filter="{ 'db_name': 'text' }">
                            {{dbconfigs.db_name}}
                        </td>
                        <td data-title="'Type'" sortable="'db_type'" filter="{ 'db_type': 'text' }">
                            {{dbconfigs.db_type}}
                        </td>
                        <td data-title="'Host'" sortable="'host'" filter="{ 'host': 'text' }">
                            {{dbconfigs.host}}
                        </td>    
                        <td data-title="'Port'" sortable="'port'" filter="{ 'port': 'text' }">
                            {{dbconfigs.port}}
                        </td>    
                        <td data-title="'Schema'" sortable="'schema'" filter="{ 'schema': 'text' }">
                            {{dbconfigs.schema}}
                        </td>    
                        <td data-title="'UserName'" sortable="'uname'" filter="{ 'uname': 'text' }">
                            {{dbconfigs.uname}}
                        </td>
                        <td data-title="'Password'" >
                            <input class="form-control no-border" type="password" value='{{dbconfigs.pwd}}'>
                        </td>
                    </tr>
                </table>
            </uib-tab>
            <uib-tab index="2" heading="Register Query">
                <br>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="form-group required">
                                <label class="control-label col-sm-1" for="textQuery">Query</label>
                                <div class="col-sm-10">
                                    <textarea rows="12" required id="textQuery" class="form-control" ng-model="app.db_query"></textarea>
                                </div>
                            </div>
                        </div>
                        <!--<input type="button" class="btn btn-default btn-md" value="Test Query" ng-click="testQuery()"></input>
                        <br>
                        <br>
                        <label class="control-label col-sm-1" for="textQuery">Result</label>
                        <input style="color:{{queryResultColor}}" ng-model="queryResult" value="{{queryResult}}">-->
                        <hr />
                        <input type="button" class="btn btn-default btn-md" value="Create" ng-click="createApp()"></input>
                    </div>
            </uib-tab>
            <!--<uib-tab index="$index + 1" ng-repeat="tab in tabs" heading="{{tab.title}}" disable="tab.disabled">
                {{tab.content}}
            </uib-tab>-->
        </uib-tabset>
        </form>
    </div>
</div>
</div>