<div  id="appheader"></div>
<div ng-show="loader.loading">
    <p>{{spinnerData}}<i class="fa fa-spinner fa-spin"></i></p>
</div>
<div class="tab-content">
    <script type="text/ng-template" id="modalDialog.html">
        <div class="modal-dialog modal-sm" style="width:450px">
            <h3 class="modal-title {{modalTitleStyle}}">{{modalTitle}}</h3>
            <div style="margin: 20px 0 20px;">
                <div ng-switch on="modalContainHtml">
                    <div ng-switch-when="true">
                        <p ng-bind-html="modalMessage"></p>
                    </div>
                    <div ng-switch-default>
                        <p>{{modalMessage}}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button ng-hide="modalHideActionBtn" class="btn {{modalActionBtnType}}" type="button" ng-click="ok()">{{modalActionBtnText}}</button>
                <button class="btn btn-default" type="button" ng-click="cancel()">{{btnCancelText}}</button>
            </div>
        </div>
    </script>
    
    <div class="app-header">
        <div class="container-fluid">
            <div class="row">
                <div uib-alert style="height: 25px; border: none; margin:0 0 10px 10px; padding:0 0 0 10px;" dismiss-on-timeout="20000" ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'danger')" close="closeAlert($index)">{{alert.msg}}</div>
                <div class="col-md-7"><h3>{{applicationName}}</h3></div>
                <button ng-show="showBtnDelete" class="btn btn-danger btn-md col-md-1 pull-right" ng-click="openDialog('delete', 'All application data will be deleted. This action cannot be undone!')">Delete</button>
                <button ng-show="showBtnRestart" disabled class="btn btn-info btn-md col-md-1 pull-right" ng-click="">Restart</button>
                <button ng-show="showBtnRedeploy" class="btn btn-info btn-md col-md-1 pull-right" ng-click="openDialog('redeploy', 'Application redeployment request will be triggered!')">Redeploy</button>
            </div>
        </div>
    </div>
    <div class="app-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default" style="margin: 20px 0 10px 0; border-radius: 0em/.0em;">
                        <div class="panel-body description">
                            <div ng-show="!showTextAppDescr">{{appDetails.descr}}
                                <button ng-show="showBtnUpdate" type="button" ng-click="editAppDescr()" class="btn btn-default btn-sm pull-right">
                                    <span class="glyphicon glyphicon-edit"></span> Edit
                                </button>
                            </div>
                            <div ng-show="showTextAppDescr">
                                <textarea class='col-md-11' ng-model="updatedAppDesc"></textarea>
                                <button type="button" ng-click="saveAppDescr()" style="margin: 0 0 5px 10px" class="btn btn-success btn-xs">
                                    <span class="glyphicon glyphicon-floppy-save"></span> Save
                                </button>
                                <button type="button" ng-click="cancelAppDescr()" style="margin: 0 0 5px 10px"  class="btn btn-default btn-xs">
                                    <span class="glyphicon glyphicon-floppy-remove"></span> Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="appdetails">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" ng-click="isSummmaryCollapsed = !isSummmaryCollapsed">Summary</a>
                                </h4>
                            </div>
                            <div uib-collapse="isSummmaryCollapsed">
                                <div class="panel-body">
                                    <div class="row app-details">
                                        <label class='control-label col-sm-3'>API Type</label>
                                        <label class='control-label col-sm-9' style="font-weight:500">{{appDetails.api_type}}</label>
                                    </div>
                                    <div class="row app-details">
                                        <label class='control-label col-sm-3'>API Version</label>
                                        <label class='control-label col-sm-9' style="font-weight:500">{{appDetails.api_ver}}</label>
                                    </div>
                                    <div class="row app-details">
                                        <label class='control-label col-sm-3'>Status</label>
                                        <label class='control-label col-sm-2' style="font-weight:500">
                                            <div ng-switch on="appDetails.status">
                                                <div ng-switch-when="Failed">
                                                    <span class="red">{{appDetails.status}}</span>
                                                </div>
                                                <div ng-switch-when="Success">
                                                    <span class="green">{{appDetails.status}}</span>
                                                </div>
                                                <div ng-switch-default>
                                                    <span class="amber">{{appDetails.status}}</span>
                                                </div>
                                            </div>
                                        </label>
                                        <a href="/#/appstatus?appId={{appDetails._id}}" style="margin-left:20px; border:0; font-weight:500;font-size:13px">View Logs<span class="glyphicon glyphicon-eye-open"></span></a>
                                        <!--<button style="border:0;" type="button" class="btn btn-success btn-transparent" 
                                            ng-init="showLogText = 'Show Logs'" ng-click="showAppLogs()">{{showLogText}}</button>-->
                                    </div>
                                    <div class="row app-details">
                                        <label class='control-label col-sm-3'>Stage</label>
                                        <label class='control-label col-sm-9' style="font-weight:500">
                                            <div ng-switch on="appDetails.status">
                                                <div ng-switch-when="Failed">
                                                    <span class="red">{{appDetails.stage}}</span>
                                                </div>
                                                <div ng-switch-when="Success">
                                                    <span class="green">{{appDetails.stage}}</span>
                                                </div>
                                                <div ng-switch-default>
                                                    <span class="amber">{{appDetails.stage}}</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="row app-details">
                                        <label class='control-label col-sm-3'>Created</label>
                                        <label class='control-label col-sm-9' style="font-weight:500">{{appDetails.created_date}}</label>
                                    </div>
                                    <div class="row app-details">
                                        <label class='control-label col-sm-3'>Created By</label>
                                        <label class='control-label col-sm-9' style="font-weight:500">{{appDetails.created_by}}</label>
                                    </div>
                                    <div class="row app-details">
                                        <label class='control-label col-sm-3'>Last Updated</label>
                                        <label class='control-label col-sm-9' style="font-weight:500">{{appDetails.last_updated_date}}</label>
                                    </div>
                                    <div class="row app-details">
                                        <label class='control-label col-sm-3'>Last Updated By</label>
                                        <label class='control-label col-sm-9' style="font-weight:500">{{appDetails.last_updated_by}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <div ng-show="!showEditableImplFields">
                                        <a class="accordion-toggle" ng-click="isImplCollapsed = !isImplCollapsed">Implementation Details</a>
                                        <button ng-show="showBtnUpdate" type="button" ng-click="editImplDetails()" class="btn btn-default btn-sm">
                                            <span class="glyphicon glyphicon-edit"></span> Edit
                                        </button>
                                        <div style="display: inline;" ng-show="showSavedMessage"><font color="{{msgColor}}"> {{editMessage}}</font></div>
                                    </div>
                                    <div ng-show="showEditableImplFields">
                                        <a class="accordion-toggle" ng-click="isImplCollapsed = !isImplCollapsed">Implementation Details</a>
                                        <button type="button" ng-click="saveImplDetails()" style="margin: 0 5px 0 0" class="btn btn-success btn-xs">
                                            <span class="glyphicon glyphicon-floppy-save"></span> Save
                                        </button>
                                        <button type="button" ng-click="cancelImplDetails()" style="margin: 0 5px 0 0" class="btn btn-default btn-xs">
                                            <span class="glyphicon glyphicon-floppy-remove"></span> Cancel
                                        </button>
                                    </div>
                                </h4>
                                
                            </div>
                            <div uib-collapse="isImplCollapsed">
                                <div class="panel-body">
                                    <div class="row app-details">
                                        <label class='control-label col-md-3'>Endpoint</label>
                                        <label class='control-label col-md-9' style="font-weight:500"><a target="_blank" href={{appDetails.endpoint}}>{{appDetails.endpoint}}</a></label>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <label class='control-label col-md-3' style="padding-top: 10px">ExposeToApigee</label>
                                            <div class="checkbox checkbox-success col-md-6" style="margin-left:10px">
                                                <input ng-init="disableApigeeChk=true" ng-disabled="!showEditableImplFields" id="checkbox1" type="checkbox" ng-checked="appDetails.expose_to_apigee" ng-model="appDetails.expose_to_apigee">
                                                <label for="checkbox1"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row app-details">
                                        <label class='control-label col-md-3'>Query</label>
                                        <label ng-show="!showEditableImplFields" class='control-label col-md-9' style="font-weight:500">{{appDetails.db_config.query}}</label>
                                        <textarea ng-show="showEditableImplFields" style="font-size:12px; font-family: Tahoma; font-weight:500" class='control-label col-md-9' ng-model="txtUpdatedQuery" rows="10">{{appDetails.db_config.query}}</textarea>
                                    </div>
                                    <div class="row app-details">
                                        <label class='control-label col-md-3'>Max Active</label>
                                        <label ng-show="!showEditableImplFields" class='control-label col-md-2' style="font-weight:500">{{appDetails.db_config.max_active}}</label>
                                        <input ng-show="showEditableImplFields" class="control-labe col-md-2" ng-model="txtMaxActive" placeholder="{{appDetails.db_config.max_active}}"></input>
                                    </div>
                                    <div class="row app-details">
                                        <label class='control-label col-md-3'>Max Idle</label>
                                        <label ng-show="!showEditableImplFields" class='control-label col-md-2' style="font-weight:500">{{appDetails.db_config.max_idle}}</label>
                                        <input ng-show="showEditableImplFields" class="control-labe col-md-2" ng-model="txtMaxIdle" placeholder="{{appDetails.db_config.max_idle}}"></input>
                                    </div>
                                    <div class="row app-details">
                                        <label class='control-label col-md-3'>Max Wait Time</label>
                                        <label ng-show="!showEditableImplFields" class='control-label col-md-2' style="font-weight:500">{{appDetails.db_config.max_wait}}</label>
                                        <input ng-show="showEditableImplFields" class="control-labe col-md-2" ng-model="txtMaxWait" placeholder="{{appDetails.db_config.max_wait}}"></input>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="appdetails">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" ng-click="isStackatoCollapsed = !isStackatoCollapsed">Stackato Config</a>
                                </h4>
                            </div>
                            <div uib-collapse="isStackatoCollapsed">
                                <div class="panel-body">
                                    <div class="row app-details">
                                        <label class='control-label col-md-4'>Space</label>
                                        <label class='control-label col-md-6' style="font-weight:500">{{appDetails.stackato_config.space}}</label>
                                    </div>
                                    <div class="row app-details">
                                        <label class='control-label col-md-4'>Organization</label>
                                        <label class='control-label col-md-6' style="font-weight:500">{{appDetails.stackato_config.org}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default panel-details">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" ng-click="isDBInfoCollapsed = !isDBInfoCollapsed">Database Info</a>
                                </h4>
                            </div>
                            <div uib-collapse="isDBInfoCollapsed">
                                <div class="panel-body">
                                    <div class="row app-details" ng-repeat="item in dbDetails">
                                        <div ng-repeat="(key, value) in item">
										 <div ng-show="key !='Schema' || dbDetails[1].Type =='as400' ">
                                            <label class='control-label col-sm-3'>{{key}}</label>
                                            <label class='control-label col-sm-9' style="font-weight:500">
                                                <div ng-switch on="key">
                                                    <div ng-switch-when="End Point">
                                                        <a href="{{value}}">{{value}}</a>
                                                    </div>
                                                    <div ng-switch-default>
                                                        {{value}}
                                                    </div>
                                                </div>
                                            </label>
											</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>