<div ng-show="loader.loading">
    <p>{{spinnerData}}<i class="fa fa-spinner fa-spin"></i></p>
</div>
<small><em>Application Build Progress</em></small>

<uib-progressbar ng-class="barState.Class" value="barState.Per" type="{{barState.Type}}">{{barState.Text}}</uib-progressbar>

<div ng-show="appCurrentState == 'Saved'">
    <span style="color: black">State Saved Panel</span>
</div>
<div ng-show="appCurrentState == 'Queued'">
    <p><span style="color: darkgrey">Application build job is currently queued..</span><p>
    <p>Please wait or check application status later via application detail page.<p>
</div>
<div ng-show="appCurrentState == 'WIP'">
    <!--<div>Build URL: <a href={{buildUrl}}> {{buildUrl}}</a></div>-->
    <iframe name="logConsole" id="logConsole" style="height:500px; width:100%" ng-src="{{buildUrl}}">
        Something wrong...
    </iframe>
</div>
<div ng-show="appCurrentState == 'Failed'">
    <p class="red">Application build failed. <a href="/#/appdetails/{{appName}}">Click here</a> to view/update application details.</p>
    <button style="border:0; margin-top:5px;" type="button" class="btn btn-success btn-transparent" ng-init="hideLogText = 'Hide Logs'" ng-click="toggleDisplayLogs()">{{hideLogText}}</button>
    <div ng-hide="toggleIFrame">
        <iframe name="logConsole" id="logConsole" style="height:500px; width:100%" ng-src="{{buildUrl}}">
            Something wrong...
        </iframe>
    </div>
</div>
<div ng-show="appCurrentState == 'Success'">
    <p class="green">Application build is successful. <a href="/#/appdetails/{{appName}}">Click here</a> to view application details.</p>
    <button style="border:0; margin-top:5px;" type="button" class="btn btn-success btn-transparent" ng-init="showLogText = 'Show Logs'" ng-click="toggleDisplayLogs()">{{showLogText}}</button>
    <div ng-show="toggleIFrame">
        <iframe name="logConsole" id="logConsole" style="height:500px; width:100%" ng-src="{{buildUrl}}">
            Something wrong...
        </iframe>
    </div>
</div>
    
