<div class="container-fluid">
    <div class="row">
        <div class="col-md-6"><h3>{{pageHeader}}</h3></div>
        <div class="col-md-6"><button style="margin: 10px 30px 0 0;" class="btn btn-info btn-md btn-md-2 pull-right" ng-click="userRegister()">Register new</button></div>
    </div>
</div>
<hr />
<div class="tab-content">
    
    <div class="col-md-12">
        <div class="users-search-panel">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="panel-title">
                        <a class="accordion-toggle" ng-click="isSearchCollapsed = !isSearchCollapsed">Search Users</a>
                    </p>
                </div>
                <div uib-collapse="isSearchCollapsed">
                    <div class="panel-body">
                        <div class="row users-search-panel-row">
                            <div class="col-md-6">
                                <label class='control-label col-md-3'>Roles</label>
                                <div class="users-search-panel-select col-md-6" ng-dropdown-multiselect="" options="rolesData" selected-model="rolesModel" extra-settings="selectSettings" translation-texts="rolesCustomTexts"></div>
                            </div>
                            <div class="col-md-6 pull-right">
                                <label class='control-label col-md-4'>Super User</label>
                                <div class="col-md-3">
                                    <select class="form-control" ng-model='selectedSuperUser' ng-options='opt for opt in superUserOption'></select>
                                </div>
                            </div>
                        </div>
                        <div class="row users-search-panel-row">
                            <div class="col-md-6">
                                <label class='control-label col-md-3'>Username</label>
                                <div  class='col-md-9'>
                                    <input ng-model="txtUserName" placeholder="Enter username" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6 pull-right">
                                <label class='control-label col-md-4'>Organization</label>
                                <div class="users-search-panel-select col-md-6" ng-dropdown-multiselect="" options="orgData" selected-model="orgModel" extra-settings="selectSettings" translation-texts="orgCustomTexts"></div>
                            </div>
                        </div>
                        <div class="row users-search-panel-row">
                            <div class="col-md-6">
                                <label class='control-label col-md-3'>Email</label>
                                <div  class='col-md-9'>
                                    <input ng-model="txtEmail" placeholder="Enter email id" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6 pull-right">
                                <label class='control-label col-md-4'>Space</label>
                                <div class="users-search-panel-select col-md-6" ng-dropdown-multiselect="" options="spaceData" selected-model="spaceModel" extra-settings="selectSettings" translation-texts="spaceCustomTexts"></div>
                            </div>
                        </div>
                        <div class="row users-search-panel-row" style="margin: 10px; 40px 0px 0px" >
                            <button style="margin-left: 10px;" class="btn btn-default btn-md col-md-1 pull-right" ng-click="reset()">Reset</button>
                            <button class="btn btn-info btn-md col-md-1 pull-right" ng-click="searchUsers()">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="users-modify-btn">
        <div class="container-fluid">
            <div class="row">
                <button class="btn btn-danger btn-md col-md-1 pull-right" ng-click="deleteUser()">Delete</button>
                <div class="col-md-1 pull-right" style="margin-right:15px;" tooltip-enable="{{disableUpdateBtn}}" uib-tooltip="To enable update, select only one user">
                    <button class="btn btn-warning btn-md" ng-disabled="disableUpdateBtn" 
                     ng-click="updateUser()">Update</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row users-search-panel-row">
        <div class="col-md-12">
            <table ng-table="userTable" class="table table-bordered table-striped table-hover table-condensed">
                <colgroup>
                    <col width="12%" />
                    <col width="17%" />
                    <col width="15%" />
                    <col width="15%" />
                    <col width="25%" />
                    <col width="10%" />
                    <col width="7%" />
                </colgroup>
                <tr ng-repeat="userinfo in $data" ng-class="{ 'emphasis': userinfo.superuser }">
                    <td class="left-align"  data-title="'Username'" sortable="'username'" filter="{ 'username': 'text' }">
                        {{userinfo.username}}
                    </td>
                    <td class="left-align" data-title="'Email Id'" sortable="'email'" filter="{ 'email': 'text' }">
                        {{userinfo.email}}
                    </td>    
                    <td class="left-align" data-title="'Organization'">
                        <span ng-repeat="org in userinfo.orgs">
                            {{org.name}} {{$last ? '' : ', '}}
                        </span>
                    </td>   
                    <td class="left-align" data-title="'Space'">
                        <span ng-repeat="space in userinfo.spaces">
                            {{space.name}} {{$last ? '' : ', '}}
                        </span>
                    </td>   
                    <td class="left-align" data-title="'Roles'">
                        <span ng-if="userinfo.superuser">fih_admin</span>
                        <span ng-if="!userinfo.superuser" ng-repeat="role in userinfo.roles">
                            {{role}} {{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td data-title="'SuperUser'" sortable="'superuser'" filter="{ 'superuser': 'text' }">
                        {{userinfo.superuser ? 'Y' : 'N'}}
                    </td> 
                    <td data-title="'Select'">
                        <input type="checkbox" ng-change="countCheckedBox(userinfo._id)" ng-model="checkboxes.items[userinfo._id]">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>