<div>
    <h2>{{pageHeader}}</h2>
</div>
<hr />
<div class="container-fluid">
     <div ng-controller="ModalApiCtrl">
        <div class="row">
            <div ng-repeat='api in apis' class="col-lg-3">
                <!--<div class="panel panel-primary" style="margin: 25px 25px 25px 25px">
                <div class="panel-heading" style="background: {{hcolors[$index%8]}}"><span class="hspan">{{api.name}}</span></div>
                <div class="panel-body" style="background: {{bcolors[$index%8]}}  none repeat scroll 0% 0%; height: 120px;"><span class="bspan"><p style="line-height:13px;">{{api.descr}}</p></span></div>
                <div class="panel-footer" style="font-weight: bold; background: {{fcolors[$index%8]}}">
                    <a href="/#/add-app/{{api.name}}" style="border:0;" class="btn btn-info btn-transparent" role="button">Add App</a>
                </div>
            </div>
            -->

                <div class="{{hexstyle[$index%5]}}" ng-click="viewDetails(api.name)">
                    <div class="{{hextextstyle[$index%5]}}">{{api.name}} v{{api.version}}<span class="hex-text-descr">{{api.descr}}</span>
                    </div>

                    <a href="/#/add-app/{{api.name}}">
                        <div class="hex-add-link">Add App</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>